svg {
  display: flex;
  width: 1200px;
  height: 600px;
  border: 1px solid black;
  /*background-image: url("./../../WarriorData/images/default_background.png");*/
  /*background-image: url("./../../WarriorData/Maps/TheDarkestHour.png");*/
}
.svg1 {
  background-image: url("./../../WarriorData/images/default_background.png");
}
.svg2 {
  background-image: url("./../../WarriorData/Maps/TheDarkestHour.png");
}
.block {
  transform: translate(-25px, -25px);
}
.hidden_block {
    visibility: hidden;
}

.question_block {
  transform: translate(-25px, -25px);
}

#start-block {


}
#character {
  transform: translate(-50px, -50px);
}

.svgq {
  display: block;
  font: 40px Arial; font-weight: bold; color: white;
  width: 800px;
  height: 450px;
  position: absolute;
  top: 450px;
  left: 350px;
  background-color: darkolivegreen;
  border: 1px solid black;
  text-indent: 5px;
 visibility: hidden;

}

.svga { font: 28px Arial; color: lightgray;
  display: block;
  width: 800px;
  height: 450px;
  position: absolute;
  top: 450px;
  left: 350px;
  background-color: darkolivegreen;border: 1px solid black;
  text-indent: 5px;
  visibility: hidden;
}

.svgx_hidden {
  /*visibility: hidden;*/
}